html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.wrap {
  border: 1px solid #EAECEF;
  border-radius: 4px;
  margin: 24px;
  width: 200px;
  height: 200px;
}

.wrap:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  & > div {
    background: white;
    background-clip: padding-box;
    border: 10px solid hsla(0,0%,100%,.5);
    // border: 10px solid rgba(255, 255, 255, 0.5);
    width: 100px;
    height: 100px;
  }
}